.page-header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  h2 {
    margin: 0;
  }
}

.page-content {
  margin-top: 1rem;

  form {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;

    mat-form-field {
      flex-basis: 40%;
    }
  }

  .action-container {
    display: flex;
    margin-top: 1rem;
    justify-content: flex-end;
  }
}
